[submodule "serverless/resources/third-party-resources/mongodbatlas-cloudformation-resources"]
	path = serverless/resources/third-party-resources/mongodbatlas-cloudformation-resources
	url = https://github.com/mongodb/mongodbatlas-cloudformation-resources
[submodule "serverless/resources/third-party-resources/datadog-cloudformation-resources"]
	path = serverless/resources/third-party-resources/datadog-cloudformation-resources
	url = https://github.com/DataDog/datadog-cloudformation-resources
